.form {
  border: 2px;
  border-radius: 12px;
  padding: 5px;
}
.card_home {
  position: absolute;
  width: 40vw;
  padding: 2.4rem;
}
.search {
  /* border: 1px solid;
  border-radius: 20px; */
  border-color: rgba(236, 234, 234, 0.986);
  padding: 2px;
}

.data {
  padding: 1.5rem;
}

div.category {
  margin: 5px;
  /* border: 1px solid #ccc; */
  float: left;
  width: 327px;
  /* display: flex; */
  justify-content: flex-start;
}

div.category:hover {
  border: 1px solid #777;
}

div.category img {
  width: 100%;
  height: auto;
}
div.cat_des {
  padding: 15px;
  text-align: center;
  font-weight: bold;
}
.btn1 {
  position: relative;
  padding: 0px 2px 0px 2px;
}
.form-controlsearch {
  display: block;
  width: 250%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid black;
  appearance: none;
  border-radius: 14.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  display: inline-block;
  font-weight: bold;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: -0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btnlogin {
  border: 1px solid black;
  margin-right: 14px;
}

.btnsignup {
  margin-right: 20px;
}

.btn-light {
  color: #000;
  background-color: #f8f9fa;
  /* border-color: black; */
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-between;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

/* .yo {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
} */

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.list-inline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  margin-top: 0px;
}

.list-items {
  padding: 0 25px;
  list-style: none;
  font-weight: bold;
  color: black;
}

.asachin {
  color: black;
  text-decoration: none;
}
.topics-bckgrnd {
  padding: 0 2rem;
  display: inline-block;
  background-color: rgba(241, 238, 238, 0.671);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.topic-features {
  font-weight: bold;
  font-size: 4vh;
}

.topics {
  display: flex;
  justify-content: flex-start;
}

.topic-dev {
  width: 25%;
  height: 50vh;
  padding-top: 2vh;
  padding-right: 2vh;
  font-weight: bold;
  /* padding-bottom: 10px; */
}

.topic-bus {
  width: 25%;
  height: 50vh;
  padding-top: 2vh;
  padding-right: 2vh;
  font-weight: bold;
}

.topic-itandsoft {
  width: 25%;
  height: 50vh;
  padding-top: 2vh;
  padding-right: 2vh;
  font-weight: bold;
}

.topic-des {
  width: 25%;
  height: 85vh;
  padding-top: 2vh;
  font-weight: bold;
}

.development {
  padding-bottom: 4vh;
  font-size: 3vh;
}

.business {
  padding-bottom: 4vh;
  font-size: 3vh;
}

.itandsoft {
  padding-bottom: 4vh;
  font-size: 3vh;
}

.design {
  padding-bottom: 4vh;
  font-size: 3vh;
}

.padding {
  padding-top: 4vh;
}

.box {
  padding: 11px;
  width: 14vw;
  height: 6vh;
  border: 1px solid black;
  align-items: center;
  font-weight: bold;
  /* background-color: white; */
}

/* .padding-button:hover {
  background-color: rgb(170, 166, 166);
} */

.img1 {
  padding-top: 15vh;
  display: inline-block;

  /* display: block;
  margin-right: auto;
  margin-left: auto; */
}

.img1-des {
  background-color: green;
  display: inline-block;
  padding-top: 70vh;
  margin-left: -24vw;
  font-size: 3vh;
}

.i {
  display: flex;
  justify-content: space-evenly;
  background-color: aqua;
}
